$left-side-black:#151414;
$right-side-black: #1b1a1a;
$left-side-grey:#214579;
$right-side-grey: #6ec3ff;

@mixin left_side_color {
    [data-theme="black"] & {
        background-color: $left-side-black;
    }

    [data-theme="grey"] & {
        background-color: $left-side-grey;
    }
}

@mixin right_side_color {
    [data-theme="black"] & {
        background-color: $right-side-black;
    }

    [data-theme="grey"] & {
        background-color: $right-side-grey;
    }
}